<div class="panel panel-default" style="margin-bottom:0px">
	<div class="panel-footer">RoldanUP        <br>     

		<div class="fb-follow" data-href="https://www.facebook.com/SperoChile" data-colorscheme="light" data-layout="standard" data-show-faces="false"></div>

	</div>
</div>