<html>

<head>
	<title>Spero</title>
</head>
<body>
	<header>
		
	</header>

	<div class="container">
		<!-- Slider -->

		<%= render :partial => 'shared/slider' %>
		<!-- ACA TERMINA Slider -->

		<section>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><!--1ra grilla 1/3-->
					<div class="row"> 
						<div class="hidden-xs col-sm-3 col-md-6 col-lg-6"> 
							<img src="assets/-2.png" class="img-resposive"></div><!-- 2da grilla 1/2 de 1-->
							<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
								<h3>Sé la diferencia</h3><hr>
								<p>Crearemos tu página con la característica de que la puedas abrir desde 
									cualquier smartphone<br> <a href="#"> Leer más</a></p>
								</div><!-- 2da grilla 1/2 de 1-->

							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><!--1ra grilla 1/3-->
							<div class="row"> 
								<div class="hidden-xs col-sm-3 col-md-6 col-lg-6"><img src="assets/-4.png" class="img-resposive">
								</div><!-- 2da grilla 1/2 de 1-->
								<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
									<h3 style=" margin-left:10px">Desarrollo web</h3><hr>
									<p style=" margin-left:10px">
										Estamos capacitados para crear paginas web de todo tipo, ya sea para mostrar tus productos o inclusive una aplicación celular<br> <a href="#"> Leer más</a></p>
									</div><!-- 2da grilla 1/2 de 1-->

								</div>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><!--1ra grilla 1/3-->
								<div class="row"> 
									<div class="hidden-xs col-sm-3 col-md-6 col-lg-6" style="padding-left: 0px"><img src="assets/-7.png" class="img-resposive">
									</div>
									<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
										<h3>Sin límites!</h3><hr>
										<p>Crearemos tu página web con la característica de que la puedas abrir desde 
											cualquier plataforma que te encuentres,desde un celular hasta un smarthTV.
											Gracias a esto tu página provocará una mayor cobertura de  clientes <br> <a href="#"> Leer más</a></p>
										</div><!-- 2da grilla 1/2 de 1-->

									</div>
								</div>

							</div>

						</section>

					</div>
					<section >
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><br><br><br>
									<video controls class="img-responsive">
										<source src="assets/intro.mp4" type="video/mp4"></source>
									</video>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<h3>Desarrollo de APP'S para facebook</h3><hr>
									<p>Empezamos una nueva aventura con esta nueva guía sobre el Desarrollo de APP's para Facebook con lo cual comenzaremos dando una introducción a la presente guía sobre lo que abarcara a lo largo de todo este proceso. Te invitamos a que estés atento a los próximos vídeos y estar al tanto de cuando se publiquen y no te olvides de suscribirte al canal y seguirnos por Facebook y twitter. Toda la guía estará dada por @Tonydevc. Saludos</p>
									<ul>
										<li><a href="#">Tema 1</a></li>
										<li><a href="#">Tema 2</a></li>
										<li><a href="#">Tema 3</a></li>
										<li><a href="#">Tema 4</a></li>
									</ul>
								</div>
							</div>
						</div><br>
					</section>

					<section >
						<div class="container">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
									<h3>Servicios</h3>
									<a href="#">Diseño Web</a><br>
									<a href="#">Lenguajes de Programación</a><br>
									<a href="#">App's de Facebook</a><br>
									<a href="#">Eventos</a><br>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
									<h3>Servicios</h3>
									<a href="#">Diseño Web</a><br>
									<a href="#">Lenguajes de Programación</a><br>
									<a href="#">App's de Facebook</a><br>
									<a href="#">Eventos</a><br>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
									<h3>Servicios</h3>
									<a href="#">Diseño Web</a><br>
									<a href="#">Lenguajes de Programación</a><br>
									<a href="#">App's de Facebook</a><br>
									<a href="#">Eventos</a><br>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
									<h3>Servicios</h3>
									<a href="#">Diseño Web</a><br>
									<a href="#">Lenguajes de Programación</a><br>
									<a href="#">App's de Facebook</a><br>
									<a href="#">Eventos</a><br>
								</div>
							</div>
						</div><br>
					</section>

				</body>
				</html>